In [9]:
import pandas as pd

In [10]:
# The path to our CSV file
file = "Resources/GlobalLandTemperaturesByCountry.csv"

# Read our avg temp data into pandas
country_avg_temp_df = pd.read_csv(file)
country_avg_temp_df.head()

         date  AverageTemperature  AverageTemperatureUncertainty Country
0  1743-11-01               4.384                          2.294   Åland
1  1743-12-01                 NaN                            NaN   Åland
2  1744-01-01                 NaN                            NaN   Åland
3  1744-02-01                 NaN                            NaN   Åland
4  1744-03-01                 NaN                            NaN   Åland

In [14]:
#dropped empty rows
country_avg_temp_df = country_avg_temp_df.dropna(how='any')

In [15]:
#how many countries 
country_avg_temp_df['Country'].value_counts()

Slovenia                                     3166
Bulgaria                                     3166
Isle Of Man                                  3166
Netherlands                                  3166
Luxembourg                                   3166
Albania                                      3166
San Marino                                   3166
Serbia                                       3166
Monaco                                       3166
Åland                                        3166
Estonia                                      3166
Sweden                                       3166
Moldova                                      3166
Ireland                                      3166
Austria                                      3166
Jersey                                       3166
Bosnia And Herzegovina                       3166
Switzerland                                  3166
France                                       3166
Czech Republic                               3166
Iceland                                      3166
Liechtenstein                                3166
Europe                                       3166
Denmark (Europe)                             3166
Lithuania                                    3166
Belarus                                      3166
United Kingdom (Europe)                      3166
Italy                                        3166
Belgium                                      3166
Poland                                       3166
                                             ...
Mozambique                                   1679
Kenya                                        1679
Ethiopia                                     1679
Somalia                                      1679
Eritrea                                      1672
Malawi                                       1660
Djibouti                                     1658
Yemen                                        1649
Tonga                                        1630
Fiji                                         1630
Niue                                         1629
Samoa                                        1629
American Samoa                               1629
Timor Leste                                  1626
French Polynesia                             1623
Tanzania                                     1595
Peru                                         1591
Ecuador                                      1585
Papua New Guinea                             1580
Palmyra Atoll                                1568
Kingman Reef                                 1568
Solomon Islands                              1568
Kiribati                                     1567
Palau                                        1558
South Georgia And The South Sandwich Isla    1474
Federated States Of Micronesia               1364
Northern Mariana Islands                     1328
Guam                                         1328
French Southern And Antarctic Lands           783
Heard Island And Mcdonald Islands             783
Name: Country, Length: 242, dtype: int64

In [17]:
usa = country_avg_temp_df.loc[country_avg_temp_df["Country"] == "United States"]

SyntaxError: unexpected EOF while parsing (<ipython-input-23-c09099c307f2>, line 1)